html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
  font-family: "Abel", serif;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #0c1445, #1a2749);
  background-size: 300% 300%;
  transition: background-position 2s ease-in-out;
}

a {
  text-decoration: none;
}

h1 {
  margin:  0;
  font-size: 30px;
  font-style: italic;
  font-weight: normal;
  color: white;
}

select {
  width: 200px;
  height: 40px;
  padding: 10px;
  border-radius: 15px;
  font-style: italic;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
}

select:hover {
  background-color: white;
  color: black;
}

/* Apartado de selecion de ciudad - City selection section */
.select-city {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background: rgba(23, 22, 22, 0.268); /* Fondo semitransparente */
  backdrop-filter: blur(10px); /* Desenfoque */
}

.select-city img {
  width: 50px;
  height: 50px;
}

/* Apartado de la contenedor */
.container {
  margin-top: 20px;
  width: 100%;
  flex: 1;
}

.time-container {
  text-transform: uppercase;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25),
    0px 15px 50px rgba(0, 0, 0, 0.15);
  background: linear-gradient(180deg, #0c1445, #1a2749);
  background-size: 300% 300%;
  transition: background-position 2s ease-in-out;
  border-radius: 15px;
  margin: 10px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* Apartado de horario principal - Main schedule section */

.current-time {
  width: 50%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-time h2 {
  font-size: 25px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

@keyframes animatedTimeImage {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(90deg) scale(1.1);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  75% {
    transform: rotate(270deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.time-image img {
  margin: 20px;
  width: 150px;
  height: 150px;
  animation: animatedTimeImage 10s linear infinite;
}

.current-time .current-hour h2 {
  font-size: 55px;
  margin: 0;
}

.current-time .current-date p {
  font-style: italic;
  font-size: 18px;
  margin-top: 15px;
}

/* Apartado de los horarios de las ciudades - Section on city timetables*/
.cities {
  padding: 0 25px;
  align-items: center;
  width: 50%;
}

hr {
  width: 100%;
  margin: 0 auto;
}

.cities .listed-city {
  font-family: "Abel", serif;
  width: 100%;
  border: none;
  background: transparent;
  padding: 2px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  background-size: 200% auto; /* Permite la animación */
}

.cities .listed-city:hover {
  cursor: pointer;

  background-position: right center;
}

.listed-city .date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.date-container {
  margin: 0;
}

.date-container p,
.city-time p {
  font-weight: bold;
}

.date-container .month-day p {
  text-transform: uppercase;
  font-size: 10px;
  margin: 0;
  margin-top: 5px;
}

/*Apartado de footer - Footer section */
footer {
  padding: 10px;
}

footer .footer-content p {
  margin: 5px 0 15px 0;
}

footer .social-icons a {
  margin: 0 10px;
}

footer a:hover {
  color: grey;
}

/***************************************************/
.body-sunrise,
.body-day,
.body-sunset,
.body-night {
  background-size: 300% 300%;
  background-position: 100% 100%;
}

.body-sunrise {
  background: linear-gradient(
    to top,
    #6a2b7d,
    #da7635,
    #f7b733,
    #a1dff3
  );
  color: black;
}

.body-day {
  background: linear-gradient(to bottom, #a1dff3, #7ec8e3, #f9d976, #f39c12);
  color: black;
}

.body-sunset {
  background: linear-gradient(to bottom, #DA7635, #B84E7D);
  color: white;
}

.body-night {
  background: linear-gradient(to bottom, #0b1e39 0%, #1a2a48 50%, #2d3e5e 100%);
  color: white;
}

/*TIME-CONTAINER*/
.t-sunrise,
.t-day,
.body-sunset,
.t-night {
  background-size: 300% 300%;
  background-position: 100% 100%;
}
.t-sunrise {
  background: linear-gradient(to bottom, #A1DFF3, #F7B733, #DA7635);
}

.t-day {
  background: linear-gradient(to bottom, #aee2ff, #c2ded6, #f8d568);
}

.t-sunset {
  background: linear-gradient(to bottom, #DA7635, #C25274, #7A3E86);
}

.t-night {
  background: linear-gradient(
    to bottom,
    #0b1e39 50%,
    #1e3a5f 80%,
    #3b597e 100%
  );
}

/*CITIES AND HR*/
.c-day {
  border-left: 1px solid black;
}

.c-night {
  border-left: 1px solid white;
}

.c-day hr {
  border: 1px solid #1a28523e;
}

.c-night hr {
  border: 1px solid #dfe2eba0;
}

/*LISTED-CITY*/
.c-night .listed-city {
  color: white;
}

.c-day .listed-city {
  color: black;
}

/*FOOTER*/
.footer-day {
  background-color: black;
  color: white;
}

.footer-night {
  background-color: white;
  color: black;
}

.footer-day a {
  color: white;
}

.footer-night a {
  color: black;
}

.c-day .listed-city:hover{
  color: white;
  background-image: linear-gradient(
    to right,
    #ffd700 0%,
    #ffa500 51%,
    #ff4500 100%
  );
}


.c-night .listed-city:hover {
  background-image: linear-gradient(
    to right,
    #383a40 0%,
    #6c6f7a 50%,
    #d4d7dd 100%
  );
  color: black;
}


/*Varias vistas*/
@media (max-width: 850px){
  .cities .listed-city .city p{
    font-size: 15px;
  }
  
  .container{
    margin-bottom: 20px;
  }
} 

@media (max-width: 600px) {
  h1{
    font-size: 15px;
  }

  .select-city img{
    width: 40px;
    height: 35px;
  }

  select{
    width: 100px;
    font-size: 10px;
    height: 30px;
    padding: 5px 10px;
  }

  .time-container{
    flex-direction: column;
    margin: 10px 20px;
  } 

  .current-time{
    width: 100%;
    margin-bottom: 15px;
  }

  .current-time .current-hour h2{
    font-size: 45px;
  }

  .current-time .current-date p{
    font-size: 15px;
  }

  .cities{
    border: none;
    width: 100%;
    padding: 0;
  }

  .c-day{
    border-top: 1px solid black;
  }

  .c-night{
    border-top: 1px solid white;
  }
}

